# Exercicio com os dados do ENEM 2019

In [1]:
url = "https://download.inep.gov.br/microdados/microdados_enem_2019.zip"

In [1]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os
import dask.dataframe as dd

In [3]:
os.makedirs("exenem", exist_ok=True)

fileBytes = BytesIO(
    requests.get(url, stream=True)
)
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("exenem")

# Trabalhando com dados do ENEM usando DASK

In [4]:
!pip3 install dask

Collecting dask
  Downloading https://files.pythonhosted.org/packages/2e/86/95faa4a9c1f7fbfa2df2ae9e7e1a11349cb97a81e2f38ff9dda301606882/dask-2021.3.0-py3-none-any.whl (925kB)
    100% |████████████████████████████████| 931kB 935kB/s eta 0:00:01
Collecting pyyaml (from dask)
  Downloading https://files.pythonhosted.org/packages/7a/5b/bc0b5ab38247bba158504a410112b6c03f153c652734ece1849749e5f518/PyYAML-5.4.1-cp36-cp36m-manylinux1_x86_64.whl (640kB)
    100% |████████████████████████████████| 645kB 1.2MB/s ta 0:00:011
Installing collected packages: pyyaml, dask
Successfully installed dask-2021.3.0 pyyaml-5.4.1

In [2]:
#Dask (e spark tbm) são implementatdos lazy evaluation/load (avaliação tardia)
enem = dd.read_csv(
    "exenem/enem2019/DADOS/MICRODADOS_ENEM_2019.csv", sep=";", 
    decimal=",",
    encoding="latin1"
)

In [8]:
enem = enem.loc[
    enem.SG_UF_RESIDENCIA == "MG"
]

In [9]:
enem.head(10)

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
1044,190001005671,2019,3170206,Uberlândia,31,MG,21,M,1,1,...,B,A,A,D,A,A,D,B,B,B
5234,190001009861,2019,3111705,Canaã,31,MG,20,M,1,1,...,A,A,A,B,A,A,C,A,A,A
16995,190001021622,2019,3104007,Araxá,31,MG,24,M,1,2,...,A,A,A,C,B,A,C,A,A,B
22008,190001026636,2019,3106200,Belo Horizonte,31,MG,33,M,1,1,...,B,A,B,B,A,A,D,A,D,B
22114,190001026742,2019,3162401,São João da Ponte,31,MG,23,M,1,3,...,A,A,A,B,B,A,C,A,B,A
41418,190001046046,2019,3124302,Espinosa,31,MG,22,M,1,3,...,B,A,A,C,B,A,E,A,B,B
41845,190001046473,2019,3169307,Três Corações,31,MG,19,F,1,3,...,B,A,A,B,B,B,E,A,B,B
48454,190001053082,2019,3106705,Betim,31,MG,20,M,1,3,...,B,A,A,B,A,A,D,A,B,B
51498,190001056126,2019,3143302,Montes Claros,31,MG,23,F,1,2,...,B,A,A,B,A,A,C,A,C,B
54094,190001058722,2019,3169307,Três Corações,31,MG,18,F,1,1,...,B,A,A,C,B,A,D,A,C,B

# Ingestao de dados no SQL server

In [ ]:
# Força fazer a requisição de todos os dados que estao nas partições dask
enem = enem.compute()

In [12]:
enem.shape

(538896, 136)

In [2]:
!pip3 install pymysql

Collecting pymysql
  Using cached https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [6]:
import sqlalchemy
import pymysql

SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://detonih:1234@localhost:3306/some-mysql'
engine = sqlalchemy.create_engine(
    SQLALCHEMY_DATABASE_URI
)

ModuleNotFoundError: No module named 'pymysql'

In [24]:
%%time
enem\
    .loc[enem.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte']\
    .to_sql("desempenho", con=engine, index=False, if_exists='append', chunksize=1000)

NameError: name 'engine' is not defined

In [25]:
enem.loc[]
    .groupby(["TP_SEXO", "TP_COR_RACA"])\\
    .agg({"NU_NOTA_MT": "mean"})

SyntaxError: invalid syntax (<ipython-input-25-c2ee112cff2a>, line 1)